* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #cfd9df, #b38bfa);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 20px 15px;
}

#head-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #251e30;
}

#head-logo svg {
    height: 50px;
    width: 50px;
    margin-left: 2px;
}

#card-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#input-btn {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#input-btn input {
    font-size: 1rem;
    line-height: 2rem;
    padding: .5rem 1rem;
    width: 70%;
    border: none;
    outline: none;
    background-color: #3b3b3b3d;
    color: black;
    border-radius: 50px;
}

#input-btn button {
    background-color: rgb(255, 102, 0);
    color: white;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    padding: .9rem 3rem;
    position: relative;
    right: 39px;
}

.circle {
    min-height: 15px;
    min-width: 15px;
    max-height: 15px;
    max-width: 15px;
    border-radius: 100%;
    border: 2px solid #3b3b3b3d;
    margin-right: 3px;
}

.circle-nameoftask {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.tasks {
    margin-top: 10px;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.tasks svg {
    position: relative;
    right: 50px;
}